SECRET_KEY=THIS_IS_SAMPLE
DEBUG=True
ALLOWED_HOSTS=127.0.0.1, .localhost, .herokuapp.com

EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_HOST=localhost
EMAIL_PORT=25
EMAIL_USE_TLS=False
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

CC_TEST_REPORTER_ID=KF+lKWqXBv5aphoDtc6CMTIb2qAOB/n1j6SVpSXYYRVKx3gZLncP7k2Op9fKeVYSZopt4khnLhETr1T+U3qNoeGvGahriwxMN/qVpZrFz4eFCaQ8qwFMRzMpFtLBG7RC8ny+sp8LD2JLT0DrpGhrG67D9Y7PbPejW/wfKxO1ic6cHB4mDF0Sq8BQcA2GOMcn3apJFPTEizdK1NZzcDncW1UrRc6RA4mGPaiWDbOD7rAIUvY5SofIngKaCyOm9IW4s0wwHhK1KFVCxWTi48EJHvfQffkXG6RbIPSZ5e6lkZUroIBP4mM8RruBNLux3BkIzYWblQ0eEJfuaUjZJ8mrtt2snx2sGYt4r3jRsamI3RDZhmh9d/EzzgnEThJgwiI3Qh7BZjxDYvUGvIHw93JNOxpvANIt4rtYsj8cmkOghV9wMuTPbdB8BwaN9bhR6yOIP/Ifiyc4LQOZNQmBXrHkwZaMRWCEPZBySpvFag3VLAKpWsR7NI+3VCEHeZhJXMQCEoROE8oEc5JY64H1opmsHA1rp7QbZawG/oDDBLH6x9ajfo7OggYzO2Q2BXNgZgivzjmnYbPf1ew95RxEhMLjy3WWJ++kr66Q4AJfIDyqgbI9Cwqe83O6sHzEdcwBrrecbdzBUqAVHCX5zdZsfoY1rex0NublwZztczEXuYskDP8=